body {
    background: #C9D6FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#category button {
    box-shadow: 2px 2px rgb(219, 215, 215);
}

.badge {
    position: absolute;
    font-size: xx-small;
    margin-left: -5px;
    margin-top: -10px;
    background-color: orangered;
    color: white;
}

#love {
    position: absolute;
    top: 0;
    right: 0;
}

footer img {
    width: auto;
    /* height: auto; */
    max-height: 50px;
}

footer a {

    margin-right: 20px;
}

section {
    margin-bottom: 40px;
}

.card {
    background: rgb(252, 249, 246);
    border-color: rgb(253, 251, 248);
    border-radius: 5%;
}

#ringkasan .card-title {
    border: 0.1px solid var(--green);
    color: var(--green);
}

.btn {
    /* border: none; */
    border-radius: 0.5rem;
}

.btn-success {
    color: rgb(39, 100, 21);
    background-color: #53d342;
    /* border-color: #38c172; */
}

.btn-success:hover {
    color: #fff;
    background-color: #185c34;
    /* border-color: #2d995b; */
}

.btn-primary {
    color: rgb(21, 35, 100);
    background-color: #83a2e4;
    /* border-color: #38c172; */
}

.btn-primary:hover {
    color: #fff;
    background-color: #19185c;
    /* border-color: #2d995b; */
}

.btn-orange {
    color: rgb(148, 17, 17);
    background-color: #d48647;
    /* border-color: #38c172; */
}

.btn-orange:hover {
    color: #fff;
    background-color: #9b3a1d;
    /* border-color: #2d995b; */
}

.btn-light {
    border: 1px solid green;
}

.btn-light:hover {
    color: #212529;
    background-color: #aecfa8;
    border-color: #dae0e5;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;